body {
    background: black;

}

.introSection {
    height: 100vh;
    background: black;
}

.introH1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Terminator Cyr Semi-expanded Bold', arial;
    letter-spacing: 0.2em;
    color: black;
}

.introH1 .introSpan {
    display: inline-block;
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
        color: white;
    }
}



.introH1 .introSpan:nth-child(1) {
    animation-delay: 6.1s;
}
.introH1 .introSpan:nth-child(2) {
    animation-delay: 6.1s;
}
.introH1 .introSpan:nth-child(3) {
    animation-delay: 6.2s;
}
.introH1 .introSpan:nth-child(4) {
    animation-delay: 7.0s;
}
.introH1 .introSpan:nth-child(5) {
    animation-delay: 7.0s;
}
.introH1 .introSpan:nth-child(6) {
    animation-delay: 7.2s;
}
.introH1 .introSpan:nth-child(7) {
    animation-delay: 7.5s;
}
.introH1 .introSpan:nth-child(8) {
    animation-delay: 9.1s;
}
.introH1 .introSpan:nth-child(9) {
    animation-delay: 9.2s;
}
.introH1 .introSpan:nth-child(10) {
    animation-delay: 9.2s;
}
.introH1 .introSpan:nth-child(11) {
    animation-delay: 10.0s;
}
.introH1 .introSpan:nth-child(12) {
    animation-delay: 10.0s;
}
.introH1 .introSpan:nth-child(13) {
    animation-delay: 10.6s;
}
.introH1 .introSpan:nth-child(14) {
    animation-delay: 10.6s;
}

.introH1Quiz{
    color: black;
    animation-delay: 11.1s;
}
.introH1Quiz span {
    animation: animate 11s linear forwards;
}
.intriH1Quiz span:nth-child(1){
    animation-delay: 11.1s;
}

.introImg {
    padding: 60px;
    width: 500px;
    height: 600px;
    display: inline-block;
    animation-delay: 3s;
    animation: fadeIn 12s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

.introH2 {
    color: white;
}

.introButton {
    height: 100px;
    width: 200px;
    margin: 0;
    padding: 0;
    background: black;
    border: none;
    cursor: crosshair;
    text-align: center;
    font-size: 3em;
    font-family: 'Terminator Cyr Semi-expanded Bold', arial;
    letter-spacing: 0.2em;
    color: black;
    outline: none;
}

.introButton span {
    display: inline-block;
    animation: animate 0.5s linear forwards;
}

.introButton span:nth-child(1) {
    animation-delay: 10.8s;
}