.nextButton {
    font-size: 1em;
    height: 50px;
    width: 70%px;
    margin: 0;
    padding: 0;
    background: black;
    border: none;
    cursor: crosshair;
    text-align: center;
    letter-spacing: 0.2em;
    color: rgb(0, 185, 0);
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: solid green;
    border-style: dashed;
  }

  .nextButton:focus {
    color: rgb(0, 185, 0);
    animation: blinker 0.5s ;
    outline: none;
    box-shadow: rgb(0, 185, 0);
}