body {
  background: black;
}

.quizPage {
  color: rgb(0, 168, 0);
}

.quizTitle {
  width: 100%;
  font-size: 1.7em;
  top: 5%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

