.triviaQuestionDiv {
    font-size: 2em;
    color: rgb(0, 204, 0);
}

.answerLeft {
    padding: 20px;
    margin-right: 50px;
}

.questionTitle{
   

}

.checkboxLetter {

}

.triviaCheckbox {
    height: 2em;
    width: 2em;
    
}

