

.triviaQuestionDiv {
    width: auto;
    padding: 10px;
    font-size: 1.5em;
    color: green;
    text-align: left;
}

.questionTitle {
    float: right;
    font-size: 1em;
    width: 380px;
    height: 500px;
    top: 120%;
    left: 59%;
    position: absolute;
    transform: translate(-50%, -50%);
    word-wrap: break-word;

}

.checkboxLetter {
    font-size: 3em;
}

.triviaCheckbox {
    height: 1.5em;
    width: 1.5em;
    ;
}



.questionNumber {
    color: red;
    background: rgb(57, 57, 57);
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.3;
    }
  }

.allChecks {
    height: 2em;
    width: 2em;
    font-size: 0.7em;
    width: 100%;
    height: 500px;
    top: 80%;
    left: 52%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}

.singleQuestion {
    color: red; 
    font-size: 1.7em;
    width: 50px;
    
    top: 120%;
    left: 59%;
    position: absolute;
    transform: translate(-50%, -50%); 
    
}

.answerText {
    font-size: 2em;
}