@font-face {
  font-family: "consolas";
  src: "http://fi.allfont.net/allfont.css?fonts=lucida-console";
}

body {
  margin: 0;
  font-family: "consolas", 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.addScoreDiv {
  color: aquamarine;
}
